/* global style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
  }
  /* end of global style */
  
  /* header */
  .c-header__main-title {
    text-align: center;
  }
  
  .c-navigation__list {
    justify-content: center;
    list-style: none;
    display: flex;
    padding: 20px;
  }
  
  li {
    background-color: blue;
    margin: 0 10px;
    padding: 50px;
  }
  
  /* footer */
  .c-footer {
    padding: 20px 0 10px;
    text-align: center;
  }
  /* end of footer block */
  .pashab-e-block {
    cursor: pointer;
    border-radius: 20px;
    padding: 0;
    
  }
  .pashab-e-block__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 20px;
    
  }
  .pashab-e-block:hover {
    background-color: black;
    transition: 1s;
  }