/* global style */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
/* end of global style */

/* header */
.c-header__main-title {
  text-align: center;
}

.c-navigation__list {
  justify-content: center;
  list-style: none;
  display: flex;
  padding: 20px;
}

li {
  background-color: blue;
  margin: 0 10px;
  padding: 50px;
}

/* trit nav */
.trit-c-navigation__item {
  background-color: yellow;
  border: 2px solid black;
  cursor: pointer;
  padding: 0;
}

.trit-c-navigation__item:hover {
  background-color: cornflowerblue;
}
.trit-c-navigation__link {
  text-decoration: none;
  display: inline-block;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 50px;
}
/* end of trit nav block */

/* trit section */
.trit-c-main {
  border: 2px dashed black;
  text-align: center;
  padding: 30px;
  margin: 20px 0;
}

.trit-c-main__title-name {
  font-size: 40px;
}

.trit-c-main__text-quote {
  font-size: 20px;
}
/* end of trit section */

/* footer */
.c-footer {
  padding: 20px 0 10px;
  text-align: center;
}
/* end of footer block */