/* Pashab section CSS */
/*===============================*/
/* WELCOME SECTION */
.pashab-c-block__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pashab-c-block__textH1 {
    font-family: GLR-BLD;
    font-size: 36px;
}
.pashab-c-block__textH2 {
    font-family: GLR-MED;
    font-size: 15px;
}
/*===============================*/
/* Words Sections Template */
/* WDRSEC */
.pashab-c-block__one {
    border-radius: 20px;
    background: #4e7851;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: center;
    justify-content: center;
    line-height: 1px;
    width: 200px;
    height: 200px;
    margin: 125px 0 0 125px;
}
.pashab-c-block__two {
    border-radius: 20px;
    background: #FFA500;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: center;
    justify-content: center;
    line-height: 1px;
    width: 200px;
    height:200px;
    margin: -125px 0 0 100px;
}
.pashab-c-block__three {
    border-radius: 20px;
    background: #483248;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: center;
    justify-content: center;
    line-height: 1px;
    width: 200px;
    height:200px;
    margin: -125px 0 0 100px;
}
/* MAIN = Word ; TRS = Transcription ; DECR = Translation */
.pashab-wdrsec-c-text__MAIN {
    font-family: GLR-BLD;
    font-size: 20px;
    color: white;
}
.pashab-wdrsec-c-text__TRS {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}
.pashab-wdrsec-c-text__DESC {
    font-family: GLR-MED;
    font-size: 20px;
    color: white;
}